.card {
    width: 80%;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.card-list {
    text-align: center;
    border: 3px solid #f5b774;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 10px auto;

}

.board-list {
    text-align: center;
    border: 3px solid #eab3f4;
    border-radius: 8px;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}

.list-form {
    position: absolute;
    right: 2%;
    top: 2%;
}

.list-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



html {
    background-image: url(../assets/cello.png);
    color:white;
}