.card {
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.card-list {
    text-align: center;
    border: 3px solid blue;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 10px auto;

}

.board-list {
    text-align: center;
    border: 3px solid red;
    border-radius: 8px;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}

.list-form {
    position: absolute;
    right: 2%;
    top: 5%;
}

.list-div {
    display: flex;
    flex-wrap: wrap;
}